{% extends 'base.html.twig' %}

{% block title %}
	Photos de Malaisie
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/galerie.css') }}">
	<link rel="stylesheet" href="{{ asset('assets/bootstrap/css/bootstrap.min.css') }}">
	<link rel="stylesheet" href="{{ asset('css/styleIndex.css') }}">
	<link rel="stylesheet" href="{{ asset('css/styles.css') }}">
{% endblock %}
{% block scripts %}
	<script src="{{ asset('assets/jquery/jquery.min.js') }}"></script>
	<script src="{{ asset('js/carousel.js') }}"></script>
	<script src="{{ asset('assets/bootstrap/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('js/carousel.js') }}"></script>
{% endblock %}
{% block body %}
<div class="indo-page">
        <h1>Photos de malaisie</h1>
        <div>
                <img src = "{{asset('img/malaisie/mal1.JPG') }}" width="40%" height="50%" alt="photo de la mosquée de Malacca Straits en Malaisie">
                <img src = "{{asset('img/malaisie/mal2.JPG') }}" width="40%" height="50%" alt="photo d'une rue graph ou dessin d'orang outan en Malaisie">
        </div>
        <div>
                <img src = "{{asset('img/malaisie/mal3.JPG') }}" width="40%" height="50%" alt="photo de membres de Greenpeace en Malaisie">
                <img src = "{{asset('img/malaisie/mal4.JPG') }}" width="40%" height="50%" alt="photo de barques en Malaisie">
        </div>
        <div>
                <img src = "{{asset('img/malaisie/mal5.JPG') }}" width="40%" height="50%" alt="photo de papillons en Malaisie">
                <img src = "{{asset('img/malaisie/mal6.JPG') }}" width="40%" height="50%" alt="photo de papillons en Malaisie">
</div>

</br>
<div class="button-all">
	<a class="btn btn-primary" href="{{ path('app_galery') }}" role="button">Retour</a>
</div>
{% endblock %}